<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SeekerRegistration</servlet-name>
        <servlet-class>com.register.SeekerRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.logout.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.logout.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerProvider</servlet-name>
        <servlet-class>com.register.registerProvider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginProvider</servlet-name>
        <servlet-class>com.login.LoginProvider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>post</servlet-name>
        <servlet-class>post</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SeekerRegistration</servlet-name>
        <url-pattern>/SeekerRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerProvider</servlet-name>
        <url-pattern>/registerProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginProvider</servlet-name>
        <url-pattern>/LoginProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>post</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
